.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.input {
  outline: none;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 16px;
  max-width: 150px;
}

.input:hover {
  border: 2px solid #277bee;
}

.input:focus {
  border: 3px solid #277bee;
}
